#fullcard {
  .heading {
    margin: 0;
  }
  .button-card {
    height: 20vh;
    width: 20vw;
    margin-top: 4px;
  }
  button{
      margin: 5px;
      border-radius: 4px;
      cursor: pointer;
  }
}
